.field--name-field-definition .field__item .pronunciations,
.field--name-field-definition .field__item .variantentrytype,
.field--name-field-definition .field__item .comment,
.field--name-field-definition .field__item .common-notes,
.field--name-field-definition .field__item .sensenumber,
.field--name-field-definition .field__item .complexformtypes,
.field--name-field-definition .field__item .headword a,
.field--name-field-definition .field__item .entrytypes,
.field--name-field-definition .field__item .term-gender,
.field--name-field-definition .field__item .ownertype_abbreviation,
.field--name-field-definition .field__item .definitionorgloss,
.field--name-field-definition .field__item .partofspeech,
.field--name-field-definition .field__item .headword,
.views-field-field-definition .field-content .pronunciations,
.views-field-field-definition .field-content .variantentrytype,
.views-field-field-definition .field-content .comment,
.views-field-field-definition .field-content .common-notes,
.views-field-field-definition .field-content .sensenumber,
.views-field-field-definition .field-content .complexformtypes,
.views-field-field-definition .field-content .headword a,
.views-field-field-definition .field-content .entrytypes,
.views-field-field-definition .field-content .term-gender,
.views-field-field-definition .field-content .ownertype_abbreviation,
.views-field-field-definition .field-content .definitionorgloss,
.views-field-field-definition .field-content .partofspeech,
.view-webonary .entry > .senses > .sharedgrammaticalinfo > .morphosyntaxanalysis > .slots:before,
.views-field-field-definition .field-content .headword {
  /*margin-right: 0.35rem;*/
}

.view-webonary .entry > .senses > .sharedgrammaticalinfo > .morphosyntaxanalysis > .slots:before,
.view-webonary .entry > .minimallexreferences .minimallexreference > .configtargets > .configtarget + .configtarget:before {
  /*margin-left: -0.35rem;*/
}

.views-field-field-definition .field-content .pictures .picture {
  padding: 0.25rem 0 0 1rem;
}

.field--name-field-definition .field__item .pictures .picture::before,
.views-field-field-definition .field-content .pictures .picture::before {
  display: none;
}

.field--name-field-definition .field__item::after,
.views-field-field-definition .field-content::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.field--name-field-definition span.style-like-link,
.views-field-field-definition span.style-like-link {
  font-weight: bold;
}


/** Webonary View Entity **/
.view-webonary.entity--webonary .reversalform {
  padding-right: .5rem;
}

/* Webonary View Glossary */
/* span.mainentryrefs {
  padding-left: .5rem;
} */

span.mainentryrefs::before {
  content: "(";
  /* padding-right: .125rem; */
}

span.mainentryrefs::after {
  content: ")";
  /* padding-left: .125rem; */
}

/* .reverseabbr {
  padding-right: .5rem;
} */

/* ====== Selectors from Source ===== */

/* space */
.reversalindexentry > .reversalform > .reversalfor + .reversalfor:before,
.reversalindexentry > .reversalform > span:last-child:after,
.reversalindexentry > .partofspeech:after,
.reversalindexentry > .sensesrs:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .headword > .headwor + .headwor:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry .dialectlabelssenseorentr > .abbreviation > .abbreviatio + .abbreviatio:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .entrytypes .entrytype > .reverseabbr > .reverseabb + .reverseabb:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs .dialectlabelsr > .abbreviation > .abbreviatio + .abbreviatio:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .glossorsummary > .glossorsummar + .glossorsummar:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .glossorsummary > span:first-child:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .restrictions > .restriction + .restriction:before {
  content: ' ';
}

.allreversalsubentries .allreversalsubentry > .reversalform > .reversalfor + .reversalfor:before,
.allreversalsubentries .allreversalsubentry > .reversalform > span:last-child:after,
.allreversalsubentries .allreversalsubentry > .partofspeech:after,
.allreversalsubentries .allreversalsubentry > .partofspeech > .abbreviation > .abbreviatio + .abbreviatio:before,
.allreversalsubentries .allreversalsubentry > .sensesrs:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .headword > .headwor + .headwor:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .headword:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry .dialectlabelssenseorentr > .abbreviation > .abbreviatio + .abbreviatio:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .entrytypes .entrytype > .reverseabbr > .reverseabb + .reverseabb:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .headword > .headwor + .headwor:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs .dialectlabelsr > .abbreviation > .abbreviatio + .abbreviatio:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .glossorsummary > .glossorsummar + .glossorsummar:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .glossorsummary > span:first-child:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .restrictions > .restriction + .restriction:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .scientificname:before {
  content: ' ';
}

/* comma */
.reversalindexentry > .partofspeech > .abbreviation > .abbreviatio + .abbreviatio:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .mainentryref + .entrytypes:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .mainentryref + .entrytypes:before {
  content: ',';
}

/* comma/space */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry > .dialectlabelssenseorentr + .dialectlabelssenseorentr:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .mainentryref + .mainentryref:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries > .referencedentry + .referencedentry:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs > .dialectlabelsr + .dialectlabelsr:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry > .dialectlabelssenseorentr + .dialectlabelssenseorentr:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs > .mainentryref + .mainentryref:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries > .referencedentry + .referencedentry:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs > .dialectlabelsr + .dialectlabelsr:before {
  content: ', ';
}

/* period */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .restrictions > span:last-child:after {
  content: '.';
}

/* period/space */
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .restrictions > span:last-child:after {
  content: '. ';
}

/* semi colon/space */
.reversalindexentry > .sensesrs > span + span:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > span + span:before {
  content: '; ';
}

/* space/open bracket */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .scientificname:before {
  content: ' (';
}

/* double space/open bracket */
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs:before {
  content: '  (';
}

/* close bracket/space */
.reversalindexentry > .sensesrs > .sensecontent .sensenumber:after {
  content: ') ';
}

/* close bracket */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs:after,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .scientificname:after,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs:after {
  content: ')';
}

/* space/square open bracket */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry:before,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs:before {
  content: ' [';
}

/* square close bracket */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry:after,
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs:after,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .dialectlabelssenseorentry:after,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .mainentryrefs .mainentryref > .referencedentries .referencedentry > .dialectlabelsrs:after {
  content: ']';
}

/* Label */
.reversalindexentry > .sensesrs > .sensecontent > .sensesr > .restrictions > span:first-child:before,
.allreversalsubentries .allreversalsubentry > .sensesrs > .sensecontent > .sensesr > .restrictions > span:first-child:before {
  content: ' Restrictions: ';
}

/* Filter */
ul.webonary-alphabet-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul.webonary-alphabet-filter li {
  display: block;
  list-style: none;
  margin: 0 -1px -1px 0;
  padding: 0;
}

ul.webonary-alphabet-filter li a {
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  border: solid 1px var(--color--gray-60);
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--color-text-neutral-loud);
}

/* Keyboard */
#webonary-keyboard ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0;
  padding: 0;
  gap: 0.25rem;
  max-width: 20rem;
}

#webonary-keyboard ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#webonary-keyboard ul li span {
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  border: solid 1px var(--color--gray-60);
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--color-text-neutral-loud);
}
