form.webonary-import .form-item__label small {
  opacity: 0.8;
  display: block;
}

.tutorial-text {
  margin-bottom: 1rem;
  font-size: 0.9em;
}

div[data-drupal-selector="edit-style-replace"] .tutorial-text,
div[data-drupal-selector="edit-media-replace"] .tutorial-text {
  margin-top: 1.5rem;
}
