{#
/**
 * @file
 * Default theme implementation to present a webonary search bar.
 *
 * Available variables:
 * - keyboard: The alphabet keyboard render array.
 */
#}

<div class="view-webonary">
  <div class="view-filters">
    <form action="/webonary/search" method="get" id="webonary--search-form" class="views-exposed-form">
      <div class="form--inline clearfix">
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-word form-item-word">
          <label for="edit-webonary--search-word">{{ 'Webonary Search'|t }}</label>
          <input title="{{ 'Enter the terms you wish to search for.'|t }}" type="text" id="edit-webonary--search-word" name="word" value="" size="15" maxlength="128" class="form-text">
          {{ keyboard }}
        </div>
        <div class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
          <input type="submit" id="edit-submit" value="{{ 'Search'|t }}" class="button js-form-submit form-submit">
        </div>
      </div>
    </form>
  </div>
</div>
