{#
/**
 * @file
 * Default theme implementation to present a webonary entity.
 *
 * This template is used when viewing a registered webonary entity's page,
 * e.g., /admin/content/webonary)/123. 123 being the webonary entity's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webonary_entity()
 */
#}

{% set classes = [
  'entity',
  'view-webonary',
  'entity--webonary'
] %}

<article{{ attributes .addClass(classes) }} >
  {% if content %}
    <div class="entity__content">
      <div class="webonary-column-left">
        {% if content.variant %}
          <h1>{{ content.variant }}</h1>
          <div class="webonary-variant-label">{{ 'Variant of'|t }}</div>
          <div class="webonary-variant-title">{{ content.title }}</div>
        {% else %}
          <h1>{{ content.title }}</h1>
        {% endif %}
        {{- content|without('title', 'field_definition', 'variant') -}}
      </div>
      <div class="webonary-column-right">
        {{- content|without ('title', 'field_grammar_category', 'variant') -}}
      </div>
    </div>
  {% endif %}
</article>
